.page-containe section {
    padding: 80px 0px;
}

/* Home page css */
.classmantaience {
   
}
 
/* Dedicated developer css */

/* 
experience */
.experiencebgcolor {
    background-color: rgb(22, 45, 66);
    color: #fff;
}

/* Activites  */
.activtiesbgcolor {
    background-color:
        rgb(245, 245, 245);
}

.iconshadow {
    box-shadow: -15px -15px 20px rgb(237, 221, 221);
    border-radius: 15px;
}

.iconshadow:hover {
    background-color: rgb(3, 45, 226);
    /* translate: -10px -10px 10px ; */
    transform: scale(1.12);
    transition-duration: 1s;
}



/* Types of Apps We Maintain At Amplework Software */
.defaultshowdata {
    display: block;
}

.hovershowdata {
    display: none;
}

.cardscardshover {
    box-shadow: -15px -15px 20px rgb(237, 221, 221);
    border-radius: 15px;
    font-size: 12px;
}

.cardshover:hover {
    background-color: rgb(3, 45, 226);
    translate: -50px -30px -10px;
    transform: scale(1.1);
    transition-duration: 1s;
    /* padding: 0px 1px; */
}

.cardshover:hover .defaultshowdata {
    display: none;
}

.cardshover:hover .hovershowdata {
    display: block;
}

.imagedivheight {
    height: 120px;
}


/* App shape   */

.appshapebgcolor {
    background-color: rgb(250, 250, 250);
}

.defaultshowdata11 {
    display: block;
}

.hoveronmouse {
    display: none;
}

.cardsborder1 {
    border: 5px dashed rgb(140, 133, 133);
    border-radius: 10px;
}

.cardbodyborder1 {
    border: 2px solid rgb(226, 216, 216);
    border-radius: 10px;
}

.cardsborder1:hover .defaultshowdata11 {
    display: none;
}

.cardsborder1:hover .hoveronmouse {
    display: block;
}

.cardsborder1 :hover {
    background-color: rgb(6, 21, 114);
}

.cardsborder1:hover {
    border: 5px dashed rgb(6, 21, 114);
}

/* fasinating */
.fasinatebgcolor {
    background-color: rgb(245, 245, 245);
}

.imagebgcolor1 {
    background-color: rgb(233, 241, 255);
}

.imagefixed1 {
    width: 45px;
}

.cardhovers1 {
    box-shadow: 10px -5px 15px rgb(86, 86, 89);
}

.targethover {
    margin-top: -100px;
    margin-right: -50px;
}

.cardhovers1 :hover .targethover {
    translate: 0px 0px 0px;
    transform: scale(1.1);
    transition-duration: 1s;
}



.cardhovers1:hover {
    background-color: rgb(3, 45, 226);
    transition-duration: 2s, 1s;
    transition-property: "margin-right";
    color: #fff;
}

/* speaks numbers  */
.numberbgcolor {
    background-color: rgb(245, 247, 251);
}


/* searching */

.BsCheck2Circle1 {
    color: blue;
}


/* Frenqualy cssss */
.frenqhovers1 {
    box-shadow: -15px 5px 20px rgb(136, 133, 133);
    border-radius: 15px;
}

.freaqbgcolor {
    background-color: rgb(248, 249, 250);
}

/* dedicated bg color */
.dedicatedbgcolor {
    background-color: rgb(245, 245, 245);
}

.trustedboxshadow {
    box-shadow: 15px -5px 15px rgb(86, 86, 89);
}

.trustedboxshadow:hover {
    transform: scale(1.2);
    transition-duration: 1s, 1s;
}


/* proudely case */
.prowdbgcolor {
    background-color: rgb(255, 255, 255);
}

.linkdinborder {
    border: 4px solid rgb(111, 98, 98);
    border-radius: 0 10px 15px 10px;
    box-shadow: 10px 5px 20px rgb(86, 86, 89);

}

.linkdinimageshadow {
    box-shadow: 30px 25px 20px rgb(29, 38, 202);

}

/* shokes page css */
.shokesbgcolor {
    background-color: rgb(245, 245, 245);
}

/* form valiadition */
.formvalidation {
    background-color:
        rgb(243, 246, 255);
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue
}

input:focus {
    border-color: green;

}

/* section 333334444444 */
.topmove {
    background-color: blueviolet;
    margin-top: -100px;
    position: relative;

}


.ulcolorchange {
    /* font-size: 200%; */

    list-style-image: linear-gradient(rgb(65, 5, 244), blue);
    list-style-type: circle;
}
/*  AmpleValidation*/
.formfieldcolor
{
    background-color: rgb(243, 245, 255);
    border: 0;
    color:rgb(146, 144, 144);
    font-size: 15px;
}
.overflowclass
{
    display: flex;
    overflow: auto;
    overflow-x: scroll;
}
.recaptchshadow {
    box-shadow: 10px 5px 10px rgb(166, 167, 194);

}
.paddingoverflow
{
   padding-right: 20px;
    
}