.borderblock {
    padding: 25px;
    border: 1px solid #6198ee;
    border-top: none;
}

.borderblock1 {
    border-left: 1px solid #6198ee;
    border-right: 1px solid #6198ee;
    padding: 25px;
}

/* 4 Category Phases of Enterprise Mobility Management Software */
.bgimgblock {
    background-image: url('../../../assets/opicityimage/dotted-circle.png');
    /* background-color: blueviolet; */
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
}

.objectimageset {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 100px;

}

.contains {
    display: flex;
    align-items: center;
    /* background-color: cadetblue; */
}

.contains h1 {
    padding-right: 15px;
    font-size: 140px;
    font-weight: 400;
    color: #fff;
    -webkit-text-stroke: 2px #1d73f8;
    /* background-color: aquamarine; */
}

.contains h3 {
    /* margin-bottom: 10px; */
    font-weight: 500;
    /* line-height: 1.5; */
    line-height: 2.0;
}

.contains p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


/* Brands we've collaborated with */
.defaulttransport {
    display: block;
}

.transimageblock {
    /* background-color: chartreuse; */
    width: 100%;
    height: 120px;
}

.transporthover {
    display: none;
}

.cardsonhover:hover .defaulttransport {
    display: none;
}

.cardsonhover:hover .transporthover {
    display: block;
}

.cardsonhover {
    box-shadow: 1px 1px 10px darkslategrey;
}

.cardsonhover:hover {
    background-color: rgb(3, 45, 226);
    color: #FFF;
    translate: -10px -20px;
    transform: scale(1.1);
    transition: 1s;
}

/* Our Process For Enterprise Mobile App Development Process */
.toolboxrequirment::before {
    content: "";
    border: dashed 2px #ffe1e1;
    width: 1px;
    position: absolute;
    top: 0;
    left: -13px;
    bottom: 0;
    /* background: none !important; */
    background-color: chartreuse;
}

.bgone {
    background-color: #ffe1e1;
    color: #f06466;
    position: absolute;
    left: -59px;
    top: -1px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 23px;
    color: #f06466;
}

.toolboxrequirment::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    position: absolute;
    bottom: 30px;
    left: -17px;
    bottom: 0;
    background: #ffe1e1;
}

.main-box {
    margin: 0 0 15px 40px;

}

.xyz::before {
    content: "";
    border: dashed 2px #ffe1e1;
    width: 1px;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;

}

.xyz::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    bottom: 50px;
    left: -20px;
    bottom: 0;
    background: #ffe1e1;
}

.circlecss {
    background-color: #ffe1e1;
    color: #f06466;
    position: absolute;
    left: -59px;
    top: -1px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 23px;
    color: #f06466;
}

.xyz1::before {
    content: "";
    border: dashed 2px rgb(158, 109, 175);
    width: 1px;
    position: absolute;
    top: 0;
    left: -13px;
    bottom: 0;

}

.circlecss1 {
    background-color: rgb(238, 208, 248);
    color: rgb(158, 109, 175);
    position: absolute;
    left: -59px;
    top: -1px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 23px;
}

.xyz1::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    position: absolute;
    bottom: 30px;
    left: -17px;
    bottom: 0;
    background: rgb(158, 109, 175);
}

.pusdoclass::before {
    content: "";
    border: dashed 2px rgb(158, 109, 175);
    color: #f06466;
    width: 1px;
    position: absolute;
    bottom: 0px;
    left: -50px;
    /* top: -40px; */
    line-height: 60px;
    /* text-align: center; */
    font-weight: 900;
    font-size: 23px;
}

.pusdoclass::after {
    content: " hello";
    /* position: relative;
    bottom: 30px;
    left: 17px;
    bottom: 0;
    border-radius: 50px;
    border: solid 2px darkblue;
    background-color: aqua; */
}

/* Cutting-Edge Technologies for Custom Enterprise Mobile App Development */
