.fluidbgcolor {
    background-color: rgb(53, 49, 68);
    color: aliceblue;
    text-align: center;
}

.bgopicity {
    background-color:rgb(227, 19, 189);

}
/* navbar  */
.navbarhover:hover 
{
    color: brown;
}